<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HYM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE0442891CBC7B18005B1055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0442A21CBC7B18005B1055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0442AD1CBC7B18005B1055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
